/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin-block-end: var(--content-blocks-margin);
  padding-inline: var(--main-inline-padding);
  padding-block: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  justify-self: self-end;
  margin-inline-end: var(--decoration-margins);
  margin-block-start: var(--decoration-margins);
  border-top: 1px solid var(--accent-color-secoundary);
  border-right: 1px solid var(--accent-color-secoundary);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  justify-self: self-start;
  align-self: self-end;
  margin-inline-start: var(--decoration-margins);
  margin-block-end: var(--decoration-margins);
  border-bottom: 1px solid var(--accent-color-secoundary);
  border-left: 1px solid var(--accent-color-secoundary);
  inline-size: 25px;
  block-size: 25px;
}

.header__decoration {
  position: absolute;
  display: var( --header-decoration-display);
  justify-self: self-end;
  padding-inline-end:  19px;
  padding-block-start: 10px;
  color: var(--accent-color);
  font-family: var(--main-font, sans-serif);
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
}

.header__decoration::after {
  content: '';
  display: var(--header-decoration-display);
  align-self: center;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: self-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  color: var(--accent-color-secoundary);
  font-family: var(--main-font, sans-serif);
  font-size: var(--base-font-size);
}

.header__theme-menu-button {
  border: none;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 4.375rem;
  block-size: 1.625rem;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-secoundary-translucent);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color-secoundary);
  outline: none;
}

.header__theme-menu-button:disabled {
  border: 1px solid var(--accent-color-secoundary);

}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__title {
  grid-row: 2;
  justify-self: self-start;
  align-self: center;
}

.title {
  color: var(--title-color);
  font-family: var(--main-font, sans-serif);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}


.header__subtitle-block {
  grid-row: 3;
  justify-self: center;
  align-self: center;
  margin-block-end: 4%;
  block-size: min-content;
}

.title-decor {
  background-color: var(--accent-color);
}

.subtitle {
  color: var(--subtitle-color);
  font-family: var(--main-font, sans-serif);
  font-weight: 700;
  font-size: var(--base-font-size);
}

.main {
  margin-block-end: var(--content-blocks-margin);
}

.section {
  margin-block-end: var(--sections-margin);
  padding-inline: var(--main-inline-padding);
}

.section__title {
  margin-block-end: var(--cards-margin);
  color: var(--accent-color-secoundary);
  font-family: var(--main-font, sans-serif);
  font-weight: 700;
  font-size: var(--base-font-size);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card:not(:last-child) {
  margin-block-end: var(--cards-margin);
}

.card__title {
  color: var(--subtitle-color);
  font-family: var(--main-font, sans-serif);
  font-size: var(--base-font-size);
}

.card__content {
  color: var(--main-text-color);
  font-family: var(--main-font, sans-serif);
  font-size: var(--base-font-size);
  
}

.card__content-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.card__content-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.card__content-link:focus-visible {
  outline: 1px solid var(--main-text-color);
  outline-offset: 1px;
}

.card h2 {
  margin-block-end: var(--cards-margin);
}

.non-bold__card-titles h3 {
  margin-block-end: 12px;
}

.non-bold__card-titles h4 {
  font-weight: normal;
}

.gallery {
  margin-block-start: 10px;
}

.section:has(.gallery) {
  margin-block-end: 0px;
}

.gallery-image {
  inline-size: 100%;
}

.gallery-image:not(:last-child) {
  margin-block-end: 5.5px;
}

.footer {
  display: grid;
  block-size: max(668px, 100vh);
}

.footer__title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/** Адаптивность **/

@media (width >= 768px) {
  :root {
    --main-inline-padding: 20px;
    --decoration-margins: 20px;
    --content-blocks-margin: 60px;
    --sections-margin: 79px;
    --cards-margin: 20.9px;
  }
  
  .header {
    padding-block: 20px;
  }

  .header__decoration { 
    padding-inline-end: 29px;
    padding-block-start: 20px;
  }

  .header__theme-menu {
    align-self: self-end;
    padding-block-end: 60px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header__subtitle-block {
    justify-self: self-end;
    align-self: self-start;
    max-width: 50%;
    margin-block-start: 48px;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-block {
    grid-column: 2 / 4;
    padding-inline-start: 12px;
  }

  .section__title {
    grid-column: 1;
  }

  .alternative-section {
    display: block;
  }

  .alternative-section .section__title {
    max-width: min-content;
  }

  .alternative-section .card-block {
    padding-inline-start: 0;
  }

  .section:has(.gallery) {
    display: block;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-auto-flow: dense;    
    gap: 20px;
    margin-block-start: 20px;
  } 

  .gallery-image {
    height: 100%;
    object-fit: cover;
  }

  .gallery-image:not(:last-child) {
    margin-block-end: 0;
  }

  .gallery-image:nth-child(5n + 1) {  
    grid-column: 1 / 3;
    grid-row: span 1;
  }

  .gallery-image:nth-child(5n + 2) {
    grid-column: 3 / 4;
    grid-row: span 2;
  }

  .gallery-image:nth-child(5n + 3) {
    grid-column: 1;
    grid-row: span 2;
  }

  .gallery-image:nth-child(5n + 4) {
    grid-column: 2;
    grid-row: span 1;
  }

  .gallery-image:nth-child(5n + 5) {
    grid-column: 2 / 4;
    grid-row: span 1;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__subtitle-block{
    margin-block-start: 57px;
  }

  .alternative-section {
    grid-template-columns: repeat(3, 1fr);
  }


  .alternative-section .section__title {
    max-width: calc((100% - 40px) / 3);
  }

  .alternative-section .card-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}